.cadastrar-servico-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastrar-servico-container .form-group label {
    font-weight: bold;
}

.cadastrar-servico-container .btn-sm {
    width: 48%;
}

.cadastrar-servico-container .alert {
    margin-top: 20px;
}
