.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343a40;
    min-height: 100vh;
}

.containerMain {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.btn-sm {
    width: 48%;
}

.alert {
    margin-top: 20px;
}
